body {
  margin: 0;
  padding-top: 70px;
}

.is-detailed-view .ptrnlib-container {
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
}

.ptrnlib-header {
  background-color: #eee;
  background-color: rgba(238, 238, 238, 0.9);
  color: #444;
  font-family: sans-serif;
  padding: 10px 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}

.ptrnlib-title {
  float: left;
  margin: 0;
  font-size: 18px;
}

.ptrnlib-title a {
  color: #444;
  text-decoration: none;
}

.ptrnlib-nav,
.ptrnlib-view-type {
  float: right;
}

.ptrnlib-view-type {
  display: none;
}

.is-pattern-page .ptrnlib-view-type {
  display: inline-block;
}

.ptrnlib-nav {
  margin-left: 20px;
}

.ptrnlib-overview,
.ptrnlib-pattern {
  display: none;
}

.ptrnlib-overview.is-active,
.ptrnlib-pattern.is-active {
  display: block;
}

.ptrnlib-pattern__overview {
  font-family: sans-serif;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

.ptrnlib-pattern__overview h2 {
  margin-top: 0;
}

.ptrnlib-pattern__overview *:last-child {
  margin-bottom: 0;
}

.ptrnlib-pattern__markup {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ptrnlib-pattern__markup pre {
  font-size: 14px;
}

.is-simple-view .ptrnlib-pattern__overview,
.is-simple-view .ptrnlib-pattern__markup {
  display: none;
}

.ptrnlib-overview-item {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-family: sans-serif;
  color: #444;
  text-decoration: none;
}

.ptrnlib-overview-item:hover {
  background-color: #f8f8f8;
}

.ptrnlib-overview-item h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
}

.ptrnlib-overview-item p {
  margin-top: 0;
}

.ptrnlib-overview-item *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  body {
    padding-top: 100px;
  }

  .ptrnlib-view-type {
    clear: right;
  }
}
