<div class="ptrnlib-pattern" id="ptrnlib-<%= slug %>">

    <%= content %>

    <footer role="contentinfo" class="ptrnlib-header">
        <h1><%= title %></h1>
        <% if(typeof note !== 'undefined') { %>
            <%= note %>
        <% } %>
        <div class="ptrnlib-pattern__markup">
            <pre class="source"><code class="language-markup"><%- content %></code></pre>
        </div>

       <select class="ptrnlib-nav">
          <option value="#/">Pattern Listing</option>
          <% _.forOwn(patterns, function(pattern) {
              if( typeof pattern.category !== 'undefined' && pattern.category === true ){ %>
                  <optgroup label="<%= pattern.title %>">
                  <% _.forEach(pattern.patterns, function(pattern) { %>
                      <option value="/patterns/<%= pattern.slug %>.html"><%= pattern.title %></option>
                  <% }); %>
                  </optgroup>
              <% } else { %>
                  <option value="/patterns/<%= pattern.slug %>.html"><%= pattern.title %></option>
              <% }
          }); %>
        </select>

    </footer>
</div>
