<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <ul>
      <% _.forEach(patterns, function(pattern) { %>
        <li><a href="#/<%= pattern.slug %>"><%= pattern.title %></a></li>
      <% }); %>
    </ul>

    <% _.forEach(patterns, function(pattern) { %>
      <%= pattern.html %>
    <% }); %>

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
